<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">

            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h1 class="mb-4">
                        Tasks For {{tasklistname}}
                    </h1>

                    {{!-- <h6 class="mb-3">{{tasklistname}}</h6> --}}

                    <ul class="list-group mb-0">
                        {{#each tasks}}
                        <li
                            class="list-group-item  border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                            <div class="float-start">

                                {{this.name}}
                            </div>
                            <div>
                                <form action="/tasks/delete/{{this._id}}" method="POST" class="d-flex  float-end">
                                    <button type="submit" class="btn btn-danger btn-sm"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg> DELETE</button>
                                </form>

                                <a href="" data-mdb-toggle="tooltip" title="Remove item">
                                    <i class="fas fa-times text-primary"></i>
                                </a>


                                <a href="/tasks/edit/{{this._id}}" class="btn btn-secondary btn-sm float-end me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg> EDIT
                                </a>

                                <form action="/tasks/complete/{{this._id}}" method="POST" class="d-flex float-end">
                                    <button type="submit" class="btn btn-success btn-sm me-2"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg> MARK AS COMPLETED</button>
                                </form>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/tasks/addnewtask/{{tasklistid}}" class="btn btn-primary mt-4">
                        Add new task
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>