
<h1>
    Upcoming tasks
</h1>


<ul id = "upcoming_tasks">
    {{#each firstTasks}}

    <li>{{this.listName}}: {{this.firstTask}} | Deadline: {{this.deadline}}</li>
    {{!-- <li>{{this.listName}}: {{this.firstTask}}</li> --}}

    {{/each}}
</ul>



