{{!-- Fields to be edited by user: Name, Importance, Deadline Date --}}
<h1>Edit your task</h1>
{{!-- 
      novalidate attribute is needed for custom Bootstrap form validation messages
      it disables the browser default feedback tooltips, but still provides access to
      the form validation APIs in JavaScript 
--}}
{{!-- Remove action and method attribute since we're using AJAX here --}}
<form id="edit-task-form" action="/tasks/{{task._id}}" method="PUT" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="task-id">Task ID</label>
        <input type="text" id="task-id" name="task-id" placeholder="Task ID" value={{task._id}} readonly>
    </div>

    <div class="form-group">
        <label for="task-name-input">Name</label>
        <input type="text" id="task-name-input" name="task-name" placeholder="Task Name" value={{task.name}}>

        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a task name
        </div>
    </div>

    <div class="form-group">
        <label for="importance-input">Importance</label>
        <input type="number" id="importance-input" name="importance" placeholder="Importance" value={{task.importance}}>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a valid rating for Importance (Number from 1 to 10)
        </div>
    </div>

    <div class="form-group">
        <label for="deadline-input">Deadline Date</label>
        <input type="text" id="deadline-input" name="deadline" placeholder="Deadline" value={{task.deadlineDate}}>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a valid date in MM/DD/YYYY format
        </div>
    </div>
     
     
    <button type="submit" id="submitButton" name="submitButton">Submit Edited Task</button>

    {{!-- Will use bootstrap for error validation so the request should never reach
    the server, but I'll leave this here in the scenario that it does need to render
    errors sent through routes --}}
    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
</form>
<script type="text/JavaScript" src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{{!-- I need to load the jquery library before our client side javascript, or else it won't
be able to properly compile. I think we need to use partials in order to load the respective
client-side javascript files (such as taskForm.js) at the end of our main.handlebars. Essentially
I'm trying to avoid including the jquery CDN in every individual handlebars file and would like to 
keep in stored in main.handlebars.--}}
<script src="/public/js/editTask.js"></script>