<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Edit your task</h1>

                        <form id="edit-task-form" action="/tasks/{{task._id}}" class="needs-validation" novalidate>




                            <input type="hidden" id="task-id" name="task-id" value='{{task._id}}'>


                            <div class="mb-3">
                                <label for="task-name-input" class="form-label">Name<span
                                        class="mandatory">*</span></label>
                                <input type="text" id="task-name-input" name="task-name" class="form-control"
                                    placeholder="Task Name" value="{{task.name}} " required="required"
                                    autocomplete="off" />

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a task name
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="importance-input" class="form-label">Importance<span
                                        class="mandatory">*</span></label>
                                <input type="number" id="importance-input" name="importance" class="form-control"
                                    placeholder="Importance" value="{{task.importance}}" required="required"
                                    autocomplete="off" />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid rating for Importance (Number from 1 to 10)
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="deadline-input" class="form-label">Deadline Date<span
                                        class="mandatory">*</span></label>
                                <input type="text" id="deadline-input" name="deadline" class="form-control"
                                    placeholder="Deadline" value="{{task.deadlineDate}}" required="required"
                                    autocomplete="off" />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid date in MM/DD/YYYY format
                                </div>
                            </div>


                            <div>
                                <div class="d-grid">
                                    <button type="submit" id="submitButton" name="submitButton"
                                        class="btn btn-primary">Submit
                                        Edited Task</button>
                                </div>
                            </div>

                            {{!-- Will use bootstrap for error validation so the request should never reach
                            the server, but I'll leave this here in the scenario that it does need to render
                            errors sent through routes --}}
                            {{#if hasErrors}}
                            <ul class="error-list">
                                {{#each errors}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://momentjs.com/downloads/moment.js"></script>
{{!-- I need to load the jquery library before our client side javascript, or else it won't
be able to properly compile. I think we need to use partials in order to load the respective
client-side javascript files (such as taskForm.js) at the end of our main.handlebars.
Essentially
I'm trying to avoid including the jquery CDN in every individual handlebars file and would like
to
keep in stored in main.handlebars.--}}
<script src="/public/js/editTask.js"></script>